<button type="button">Text text</button>

{% schema %}
{
    "name": "Button",
    "settings": [
        {
            "id": "show_button",
            "type": "checkbox",
            "label": "Show button",
            "default": true
        }
    ],
    "presets": [
        {
            "name": "Button",
            "category": "Button"
        }
    ]
}
{% endschema %}